<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="uShip.Logging" type="uShip.Logging.uShipLoggingConfigurationSection, uShip.Logging"/>
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>

  <uShip.Logging 
    graphiteMetricPath="graphite.test."
    minimalDataLogMessage="Minimal test message">
    <jsonReplacements>
      <add field="password"/>
      <add field="creditCard"/>
    </jsonReplacements>
    <urlFormEncodedReplacements>
      <add field="password" />
      <add field="creditCard" />
    </urlFormEncodedReplacements>
    <regexReplacements>
      <add field="[p|P]assword=.*" />
      <add field="password" />
      <add field="creditCard" />
    </regexReplacements>
    <targetStackTraces>
      <add rootNamespace="uShip.Logging.Tests" />
    </targetStackTraces>
    <excludedStackTraces>
      <add rootNamespace="uShip.Logging.Tests.Common"/>
    </excludedStackTraces>
  </uShip.Logging>
</configuration>